#sideNavBox {
    display: none;
}

#s4-titlerow {
    display: none !important;
}

#s4-ribbonrow {
    display: none !important;
}

#suiteBarDelta {
    display: none !important;
}

#contentBox {
    margin: 0 !important;
}

#s4-workspace {
    width: 100% !important;
    overflow: inherit !important;
}

#contentBox {
    min-width: 100% !important ;
}
